body { font-family: sans-serif; }
p { text-align: justify; }
.axis text { font: 10px sans-serif; }
.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
.bar { fill: steelblue; fill-opacity: .9; }
.x.axis path { display: none; }
.node { border: solid 1px white; font: 10px sans-serif; line-height: 12px; overflow: hidden; position: absolute; text-indent: 2px;}
